@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This site is design to enable to download of YouTube and Amazon comment or review.</p>
<p>Note: The csv review for amazon will not always return the product review due some restriction from Amazon</p>
<p>It could take about 4 - 6 min of request before the request is completed and mailed to you</p>
