@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>This site is design to download YouTube and Amazon comment or review.</p>
<p>Note: The csv review for amazon will not always return the product review due some restriction from Amazon</p>
<p>It could take about 5 - 7 min from request before it's completed and emailed to you</p>
<br />
<br />
<p>Regards</p>
