@model Comment_Review_Downloader.Models.RequestViewModel

@{
    ViewData["Title"] = "amazon";
}


<h4>Request View</h4>
<h1>Thank you!</h1>
 @Html.Partial("_alerts")
<p>We reiceved your request and we're going to get in touch with you soon!</p>
<p>wait for the file in your email</p>
@*<p>Request Id: @Model.Id</p>*@
<p>Request Url: @Model.RequestUrl</p>
<p>Delivery Email: @Model.Email</p>
<a href="/" class="btn btn-primary">Go back to the Homepage</a>
