@model Comment_Review_Downloader.Models.RequestViewModel

@{
    ViewData["Title"] = "amazon";
}


<h4>Review Request View</h4>
<h1>Thank you!</h1>
@Html.Partial("_alerts")
<p>We reiceved your request and we're going to get in touch with you soon!</p>
<p>You don't really need to wait. It will be sent to your email</p>
@*<p>Request Id: @Model.Id</p>*@
<p>Request Url: <a href="@Model.RequestUrl" class="btn btn-info" target="_blank">Go to product page</a></p>
<p>Delivery Email: @Model.Email</p>
<p>Please, Do not refresh this page</p>
<p>
    <a href="/" class="btn btn-primary">Go back to the Homepage</a> To request for another comment!
</p>
