@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>

<address>
    <strong>Email:</strong> <a href="mailto:olelewechukwunyere@outlook.com">olelewechukwunyere@outlook.com</a><br />
    <strong>Fork This:</strong> <a href="https://github.com/Xtremrules/Comment_Review_Downloader" target="_blank">Github Repo</a><br />
    <strong>About Me:</strong><a href="https://about.me/prince.o" target="_blank">About Me Page</a>
</address>
